<div class="container-fluid">
<div class="navbar">
<div class="col-12">
    <div class="row">
        <div class="col-8">
            <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.svg" alt=""></a>
        </div>
        <div class="col-4">
            <div class="float-right" id="navLogos">
            <a href="#"><mat-icon> settings</mat-icon></a> 
            <a href="#"><mat-icon>email</mat-icon></a> 
            <a href="#"><mat-icon>notifications_active</mat-icon></a>
            <select name="cars" id="cars">
              <option value="volvo">elhoo</option>
            </select>
            <button type="button" class=" btn-circle btn-sm"></button> 
        </div>
        </div>
</div>
</div>
</div>
  <div class="sidenav">

    <button class="button-side"><i class="material-icons" routerLink="/dashboard">speed</i></button>
    <button class="button-side"><i class="material-icons">add_shopping_cart</i></button>
    <button class="button-side"><i class="material-icons">foundation</i></button>
    <button class="button-side"><i class="material-icons">card_travel</i></button>
    <button class="button-side"><i class="material-icons">contacts</i></button>
    <button class="button-side"><i class="material-icons">settings</i></button>
    <button class="button-side"><i class="material-icons">euro</i></button>
    <button class="button-side"><i class="material-icons">support</i></button>
  </div>
  <div class="pl-sm-5">
  <router-outlet></router-outlet>
  </div>
</div>


