.container-fluid{
    background-color:#F2F5FA   ; 
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
}
.elho-containt  {
    padding:0px !important;
}  
.sidenav {
    position: fixed;
    left: 0px;
    height: 100%;
   
    z-index: 1;
    overflow-x: hidden;
    top: 0px;
    
  }
  .sidenav .material-icons{
    font-size: 30px;
    color: black;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .sidenav li a {
      position: relative;
      margin-bottom: 6px;
      display: block;
      height: 50px;
      width: 53px;
      background-color: #F2F5FA;
      border-radius: 10px; 
      border: none;
      box-shadow: -4.9px -4.9px 9px #FFFFFF, 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.4), inset 3.5px 3.5px 6px #FFFFFF;
      outline: none;
      top: 77px;
     
  }
  .mat-icon{
    font-size: 30px;
  }
 #navLogos {
     a{
        color: black;
        margin: 14px;
       }
    select{
        border: none;
        position: relative;
        top: -6px;
        background-color: #F2F5FA;
    }
     
 }
 .btn-circle.btn-sm { 
    width: 53px;
    height: 53px; 
    border-radius: 50px; 
    font-size: 15px; 
    text-align: center; 
    background-color: #F2F5FA;
    border-color: white;
    outline: transparent;
} 
.sidenav li a:hover {
    transform: translateY(4px);
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.3) inset, -5px -5px 4px -1px rgb(255, 255, 255) inset;
    
 }
 .sidenav li a:hover i{ 
    color: red;
}

.sidenav .i_logo{
    position: absolute;
    bottom: 120px;
}
.sidenav .i_logo a{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
  

.show{
    position: relative;
    left: 15px;
    top: 30px;
}
 