

<div class="col-12">
    <p class="titre">Tableau de bord</p>
    <span class="caption">content de vous revoir, youssef</span> 
</div>
<div class="row">
    <div class="col-6">
     <ul class="liste1">

        <a href="#"><li class="col" ><img src="../../assets/images/vente_logo_red.png" alt=""><span class="caption">vente</span></li></a>
        <a href="#"><li class="col" ><img src="../../assets/images/achat_logo_red.png" alt=""><span class="caption">achat</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/paiement_logo_red.png" alt=""><span class="caption">Paiement</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/comptable_logo_red.png" alt=""><span class="caption">Comptable</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/reference_logo_red.png" alt=""><span class="caption">Préférence</span></li></a>
     </ul>
     <ul class="liste1">
        <a href="#"><li class="col" ><img src="../../assets/images/vente_logo_red.png" alt=""><span class="caption">vente</span></li></a>
        <a href="#"><li class="col" ><img src="../../assets/images/achat_logo_red.png" alt=""><span class="caption">achat</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/paiement_logo_red.png" alt=""><span class="caption">Paiement</span></li></a>
        <a href="#"> <li class="col"><img src="../../assets/images/comptable_logo_red.png" alt=""><span class="caption">Comptable</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/reference_logo_red.png" alt=""><span class="caption">Préférence</span></li></a>
    </ul>
    </div>
    <div class="col-6">


        
    </div>

</div>

<div class="row">
    <ul class="listeMedium">
        <a href="#"><li class="col" ><img src="../../assets/images/vente_logo_red.png" alt=""><span class="caption">Ventes</span></li></a>
        <a href="#"><li class="col" ><img src="../../assets/images/achat_logo_red.png" alt=""><span class="caption">Achats</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/charge_logo_red.png" alt=""><span class="caption">Marge</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/charge_logo_red.png" alt=""><span class="caption">Marge</span></li></a>
     </ul>
</div>
<div class="row">
    <ul class="listeLarge">
        <a href="#"><li class="col" ><img src="../../assets/images/paiement_logo_red.png" alt=""></li></a>
        <a href="#"><li class="col" ><img src="../../assets/images/balance_logo_red.png" alt=""><span class="caption">Balance TVA</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/facture_logo_red.png" alt=""><span class="caption">CREEZ UNE FACTURE</span></li></a>
        <a href="#"><li class="col"><img src="../../assets/images/facture_logo_red.png" alt=""><span class="caption">ENREGISTREZ UNE FACTURE D'ACHAT</span><</li></a>
     </ul>
</div>


  
    
