<div class="container-fluid elhoo-containt">

<div class="row">
    <div class="col-12">
        <p class="titre">Tableau de bord</p>
        <span class="captionPlus">content de vous revoir, youssef</span> 
    </div>
</div>

<div class="row">
    <div class="col-6">
     <ul class="liste1 list-inline row ">

        <li class="col-2" ><a href="#"><img src="../../assets/images/vente_logo_red.png" alt=""><span class="caption">Vente</span></a></li>
        <li class="col-2" ><a href="#"><img src="../../assets/images/achat_logo_red.png" alt=""><span class="caption">Achat</span></a></li>
        <li class="col-2"><a href="#"><img src="../../assets/images/paiement_logo_red.png" alt=""><span class="caption">Paiement</span></a></li>
        <li class="col-2"><a href="#"><img src="../../assets/images/comptable_logo_red.png" alt=""><span class="caption">Comptable</span></a></li>
        <li class="col-2"><a href="#"><img src="../../assets/images/reference_logo_red.png" alt=""><span class="caption">Préférence</span></a></li>
     </ul>
     <ul class="liste1 list-inline  row ">
        <li class="col-2" ><a href="#"><img src="../../assets/images/vente_logo_red.png" alt=""><span class="caption">Vente</span></a></li>
        <li class="col-2" ><a href="#"><img src="../../assets/images/achat_logo_red.png" alt=""><span class="caption">Achat</span></a></li>
        <li class="col-2"><a href="#"><img src="../../assets/images/paiement_logo_red.png" alt=""><span class="caption">Paiement</span></a></li>
        <li class="col-2"><a href="#"><img src="../../assets/images/comptable_logo_red.png" alt=""><span class="caption">Comptable</span></a></li>
        <li class="col-2"><a href="#"><img src="../../assets/images/reference_logo_red.png" alt=""><span class="caption">Préférence</span></a></li>
    </ul>
    </div>
    <div class="col-6">


        
    </div>

</div>

        <ul class=" listeMedium list-inline row">
            <li class="col-12 col-sm-3" ><a href="#"><img src="../../assets/images/vente_logo_red.png" alt=""><span class="captionPlus">Ventes</span><span class="underCaption">0,00 &euro;</span></a></li>
            <li class="col-12 col-sm-3" ><a href="#"><img src="../../assets/images/achat_logo_red.png" alt=""><span class="captionPlus">Achats</span><span class="underCaption">0,00 &euro;</span></a></li>
            <li class="col-12 col-sm-3"><a href="#"><img src="../../assets/images/charge_logo_red.png" alt=""><span class="captionPlus">Marge</span><span class="underCaption">0,00 &euro;</span></a></li>
            <li class="col-12 col-sm-3 "><a href="#"><img src="../../assets/images/charge_logo_red.png" alt=""><span class="captionPlus">Marge</span><span class="underCaption">0,00 &euro;</span></a></li>
         </ul>


        <ul class="listeLarge list-inline row ">
            <li class="col-12 col-sm-3" ><a href="#"><img src="../../assets/images/paiement_logo_red.png" alt=""><span class="underCaptionPlus">LIEZ VOTRE COMPTE BANCAIRE</span><span class="smallCaption">Liez votre compte bancaire et vos paiment seront reconciliés avec vos factures</span><p class="redRectangle"><span class="text">LIEZ COMPTE BANCAIRE</span></p></a></li>
            <li class="col-12 col-sm-3" ><a href="#"><img src="../../assets/images/balance_logo_red.png" alt=""><span class="underCaptionPlus">Balance TVA</span><span class="underCaption">12000 &euro;</span></a></li>
            <li class="col-12 col-sm-3"><a href="#"><img src="../../assets/images/facture_logo_red.png" alt=""><span class="underCaptionPlus">CREEZ UNE FACTURE </span><span class="smallCaption">Créez une facture simplement en quelques clicks</span><p class="redRectangle"><span class="text">CREER FACTURE</span></p></a></li>
            <li class="col-12 col-sm-3"><a href="#"><img src="../../assets/images/facture_logo_red.png" alt=""><span class="underCaptionPlus">ENREGISTREZ UNE FACTURE D'ACHAT </span><span class="smallCaption">Enregistrez une facture d'achat afin de voir vos profits </span><p class="redRectangle"><span class="text">ENREGISTRER FACTURE</span></p></a></li>
         </ul>



</div>
  
    
